* {
	font-family: 'Press Start 2P', cursive;
	margin: 0;
	padding: 0;
}

.grid {
	display: grid;
	height: 100vh;
	place-content: center;
	grid-template-columns: 500px 200px;
}

.right-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.right-column > div {
	line-height: 60px;
}

.right-column > div > p {
	font-size: 25px;
}

.game-board {
	border: solid 2px;
}

.play-button {
	background-color: #4caf50;
	font-size: 16px;
	padding: 15px 30px;
	cursor: pointer;
}
